.weatherBlock {
    margin-top: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.city{
    font-size: 15px;
}

.temp{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}