.header {
    grid-area: h;
    background-color: #24272C;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_text {
    color: white;
    margin-left: 30px;
    font-weight: bold;
    font-size: 40px;

}

.header_text:after{
    content: '\003E';
}

.header_text:before{
    content: '\003C';
}

.loginBlock {
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.header a {
    color: white;
    text-decoration: none;
}

.sign_out{
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border : 1px solid white;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

.sign_out:hover {
    color: #24272C;
    background-color: #cccccc;
}
