.message_block {
    background-color: #BFBFBD;
    padding: 10px;
    border-radius: 5px;
}

.message_one {
    border-radius: 5px;
    padding: 10px;
    background-color: #BFBFBD;
    display: flex;
    /*border: 1px solid;*/
}

.message_avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.message_text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    color: #24272C;
    font-weight: bold;
}

.text {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.text::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid white;
    border-bottom: 10px solid transparent;
    top: 20%;
    left: -20px;
    z-index: 1;
}

.message_text_two {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.message_two {
    border-radius: 5px;
    padding: 10px;
    background-color: #BFBFBD;
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid;*/
}

.name_two {
    color: #24272C;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.text_two {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.text_two::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid white;
    border-bottom: 10px solid transparent;
    top: 20%;
    left: 380px;
    z-index: 1;
}

.textArea {
    width: 90%;
    border-radius: 5px;
    height: 50px;
    outline: none;

}

.button{
    height: 56px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #076071;
    color: #cccccc;
}

.textSendArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}