/*.postItem {*/
/*    color: #076071;*/
/*    font-weight: bold;*/
/*}*/

/*.postItem img {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 30px;*/
/*}*/


.postItem {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.avatar{
    padding: 0 20px 0 0;
}
.avatar img {
    width: 40px;
    height: 40px;
    border: black solid 1px;
    border-radius: 50%;

}

.post_message{
    /*background-color: #1698AE;*/
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 0;
    position: relative;
}

.post_message::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    top: 70%;
    left: -20px;
    z-index: 1;

}

.like{
    display: flex;
    justify-content: end;
    color: #1698AE;
    font-size: 15px;
    margin-top: 5px;

}

.post_message_text{
    font-size: 18px;
    color: black;

}

.heart{
    width: 10px;
    height: 10px;
    background-color: red;
    transform: rotate(45deg);
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
    cursor: pointer;
}

.heart::before,
.heart::after{
    content : '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -5px;
}